<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>在console中展示。cookie保存的是sessionID。把他打印出来</h1>
    <p><%= value %></p>

    <script>


        
    </script>
    
</body>
</html>