<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>
<body>
    <div class="box">
        <div class="container">
        </div>
        <p class="num">卡片数量</p>
        <button class="deleteBtn">删除</button>
        <button class="next">下一个</button>
    </div>

    <script>
        let next = document.querySelector('.next')
        let container = document.querySelector('.container')
        let numOfcards = document.querySelector('.num')
        let counter = 0
        // 获取数据函数
        async function getData(url) {
            let res = await fetch(url)
            let data = await res.json()
            return data
        }

        // 删除数据
        async function deleteCard(id) {
            let res = await fetch(url, {id})
            let result = await res.json() // 验证删除成功
            consule.log(result)
        }
    
        window.onload = async function() {
            // 初始数据
            let data = await getData('http://localhost:3000/')
            numOfcards.innerText = `现在是第：${counter}个问题`
            let cardsHTML = getHTMLData(data) // 数组
            //返回带不同类的数据
            function getHTMLData(data) {
                return data.map((card, index) => { 
                if(index === counter ) {
                return `        
                    <div class="card">
                        <div id=${card.id}>ID标签</div>
                        <div class="face face-front">${card.question}</div>
                        <div class="face face-back">${card.answer}</div>
                    </div>
                    `

                }else {
                    return 
                    `        
                    <div class="card hide">
                        <div class="face face-front">${card.question}</div>
                        <div class="face face-back">${card.answer}</div>
                    </div>`
                    }
                }
                ).join('\n')
            }
            container.innerHTML = cardsHTML

            next.addEventListener('click', ()=> {
                // 更新卡片
                counter++
                numOfcards.innerText = `现在是第：${counter}个问题`
                let cardsHTML = getHTMLData(data)
                container.innerHTML = cardsHTML
                // 更新删除按钮ID
                delBtn.id = counter
            })

            // 给页面的卡片的删除按钮添加这个卡片的ID
            let delBtn = document.querySelector('.deleteBtn')
            delBtn.id = counter
            delBtn.addEventListener('click', function() {
                fetch("/delete", {
                    method: 'DELETE',
                    body: JSON.stringify({id: delBtn.id}),
                    headers: {
                    'Content-Type': "application/json"
                    }
                }).then(res => res.json())
                .then(data => {
                    if(data.message && data.ok === 1) {
                        window.location.href = '/jsonData'
                    }
                })
            })
        }

    </script>
</body>
</html>